.header-container {
	position: relative;
	height: 75vh;
	.carousel {
		overflow: initial;
		position: relative;
		z-index: 10;

		.carousel-item {
			max-height: 75vh;
		}
	}
	.btn-discover {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 25px);
		font-size: 1.5rem;
		border-radius: 15px;
		z-index: 10000;
	}
}
